# EXCLUDE all files
*

# But, DO NOT EXCLUDE the following files.
!/.gitignore
!/README.md
!/_vimrc
!/_gvimrc
!/.vimrc
!/.gvimrc
!/vimfiles/
!/vimfiles/neobundle_setting.vim
!/latexmkrc

# Furthermore, strongly EXCLUDE the following files.
/.ssh/
/vimfiles/bundle/*
