# EXCLUDE all files
*

# But, DO NOT EXCLUDE the following files.
!/.gitignore
!/_vimrc
!/_gvimrc
!/vimfiles/
!/vimfiles/neobundle_setting.vim


# Furthermore, strongly EXCLUDE the following files.
/.ssh/
/vimfiles/bundle/*
